# project specific
/container
/godot_assets
/cache
docker-compose.yml
Docker-compose.yml
notes.md


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/venvs

# other default folders
/.idea
/.git
/.vscode
