<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap_5_3_3/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap_5_3_3/js/bootstrap.bundle.min.js"></script>
    <script src="/static/htmx_2_0_2.min.js"></script>
    <style>
        .spinner {
            width: 42px;
            height: 42px;
        }

        .asset-logo {
            width: 32px;
            height: 32px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to the {{ app_name }}</h1>
        <p class="card-text"><small class="text-body-secondary">Version: {{ app_version }}</small></p>

        <ul>
            <li><a href="/docs">docs</a></li>
            <li><a href="/readme">README.md</a></li>
        </ul>
        <button
            class="btn btn-primary"
            hx-get="/api/refresh_projects"
            hx-target="#reload-project-results"
            hx-trigger="click delay:150ms"
        >
            reload git repositories
            <img alt="spinner" class="htmx-indicator spinner" src="/static/loading.gif">
        </button>
        <div id="reload-project-results" hx-target="#projects-table-list" hx-trigger="changed"></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Logo</th>
                    <th scope="col">Name</th>
                    <th scope="col">Version</th>
                    <th scope="col">GD-Version</th>
                    <th scope="col">Action</th>
                    <th scope="col">Asset-Date / Zip-Date</th>
                </tr>
            </thead>
            <tbody id="projects-table-list"
                   class="table-group-divider"
                   hx-get="/api/html/asset"
                   hx-trigger="load"
            >
            </tbody>
        </table>
    </div>
</body>
</html>